{% extends "base.html" %}

{% block title %} Modificar registre {% endblock %}

{% block contenido %}

    <form action="/modifica/{{id}}" method="post"> 
        {{ form.hidden_tag() }}
        <div class="field">
            {{ form.data.label }}
            {{ form.data }}
            {% for error in form.data.errors %}
            <p class="err-msg">
                {{ error }}
            </p>
            {% endfor %}
        </div>
        <div class="field">
            {{ form.concepte.label }}
            {{ form.concepte }}
            {% for error in form.concepte.errors %}
            <p class="err-msg">
                {{ error }}
            </p>
            {% endfor %}           
        </div>
        <div class="field">
            {{ form.quantitat.label }}
            {{ form.quantitat }}
            {% for error in form.quantitat.errors %}
            <p class="err-msg">
                {{ error }}
            </p>
            {% endfor %}
        </div>
    </div>
    <div class="field">
            {{ form.submit }}
    </div>

    </form>

{% endblock %}
