<style>
    * {
        font-family: 'Courier New', Courier, monospace;
    }
    header {
        color: blue;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
</style>


<img src="static/baixa.jpg" alt="">


<h1>Ingressos mensuals <a href="creaalta">Nou</a><link rel="stylesheet" href="localhost:5000/creaalta.html">
    <button class="btn btn-success"><h1>+</h1></button></h1>

    return render_template("creaalta.html", methods=["GET", "POST"])


    {% extends "base.html" %}
{% block title %}Nou registre{% endblock %}
{% block content %}
    <form action="creaalta" method="post"> 
        <label for="data">Data: </label>
        <input type="text" id="data" name="data" /><br>
        <label for="concepte">Concepte: </label>
        <input type="text" id="concepte" name="concepte" /><br>
        <label for="import">Import: </label>
        <input type="text" id="import" name="import" /><br>
        <input type="submit" id="send-signup" name="signup" value="Registrar" />
    </form>
{% endblock %}



"""
@app.route("/creaalta") #un punt d'entrada
def nouIngres(): 
    return "demà més"
"""


{% extends "base.html" %}

{% block title %} Registre nou {% endblock %}

{% block contenido %}

    <form action="creaalta" method="post"> 
        <div class="field">
            <label for="data">Data: </label>
            <input type="date" name="data" required/><br>
        </div>
        <div class="field">
            <label for="concepte">Concepte: </label>
            <input type="text" name="concepte" /><br>
        </div>
        <div class="field">
            <label for="quantitat">Import: </label>
            <input type="number" name="quantitat" step="0.01" /><br>
        </div>
    </div>
    <div class="field">
            <input type="submit" value="REGISTRAR">
    </div>

    </form>

{% endblock %}
